<!-- <p>todo-list works!</p> -->

<ul *ngIf="tasks?.length; else noTask">
  <app-task *ngFor="let task of tasks; trackBy:trackByFunction" [task]="task" >

  </app-task>
</ul>
<ng-template #noTask>Rien à Faire</ng-template>

<p>compteur {{count}}</p>
<div [ngStyle]="{fontWeight: 400, color: 'black'}" [ngSwitch]="true">
  <p *ngSwitchCase=" completion === 0 " >Nombre de tache 0: {{completion}}% Vous n'avez rien à faire!!</p>
  <p *ngSwitchCase=" completion > 0 && completion <= 50 ">Nombre de tache 1/3: {{completion |  number:'2.1-2'}}% Allez encore!!</p>
  <p *ngSwitchCase=" completion > 50 && completion <= 99 ">Nombre de tache 2/3: {{completion |  number:'2.1-2'}}% presque fini!</p>
  <p *ngSwitchDefault>Nombre de tache 3/3: {{completion}}% good!!</p>
</div>
