<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
    <input type="text" name="firstName" placeholder="Nom" formControlName="firstName" required>
    <input type="text" name="lastName" placeholder="Prénom" formControlName="lastName" required>
    <input type="text" name="email" placeholder="email" formControlName="email" required>

    <select name="team" id="team" formControlName="team" required>
        <option value="">--Please choose an option--</option>
        <option value="equipe1">en cours</option>
        <option value="equipe2">terminé</option>
    </select>

    <button type="submit" [disabled]="userForm.invalid"> valider</button>
</form>
