
<li [class]="getItemVariant()">
  <input matInput placeholder="course" [(ngModel)]="task.title">
  <a [routerLink]="['/todolist', task.id]" routerLinkActive="active"
  [routerLinkActiveOptions]="{exact: true}">
    <div>
      <p>
        {{ task.id }} : {{ task.title }} :
        <span [class]="getBadgeVariant()">{{ getComplete() }}</span>
      </p>
      <p>{{task.description}}</p>
      <p>{{ task.date | date:'dd/MM/y hh:mm' }}</p>
    </div>
    <button mat-raised-button color="basic" (click)="toggleComplete()">{{ getButtonText() }}</button>
  </a>
</li>
