



<ul>
   <li routerLinkActive= "active" [routerLinkActiveOptions]="{exact : true}">
      <a routerLink="login">Auth</a>
   </li>
   <li routerLinkActive= "active" [routerLinkActiveOptions]="{exact : true}">
    <a routerLink="todolist">TodoList</a>
   </li>
   <li routerLinkActive= "active" [routerLinkActiveOptions]="{exact : true}">
    <a routerLink="taskForm">taskForm</a>
   </li>
   <li routerLinkActive= "active" [routerLinkActiveOptions]="{exact : true}">
      <a routerLink="userList">userList</a>
     </li>
     <li routerLinkActive= "active" [routerLinkActiveOptions]="{exact : true}">
      <a routerLink="userForm">userForm</a>
     </li>

</ul>
<app-logout></app-logout>
